{% extends "base.html" %}
{% block content %}

<h2 class="text-xl mb-4">Register</h2>

<form method="post"
class="grid gap-3 max-w-md">

<input name="username"
placeholder="Username"
required
class="bg-slate-800 text-white p-2 rounded">

<input name="password"
type="password"
placeholder="Password"
required
class="bg-slate-800 text-white p-2 rounded">

<button
class="bg-green-600 p-2 rounded text-white">
Register
</button>

</form>

<br>

<a href="/login"
class="text-blue-400">
Login
</a>

{% endblock %}
